<?xml version="1.0" encoding="utf-8"?>
<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sinou.android.pydia">

    <application
        android:name=".CellsApp"
        android:allowBackup="true"
        android:icon="@android:drawable/star_on"
        android:label="@string/application_title"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Start Pydia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="cellsauth" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AccountActivity"
            android:exported="false" />

        <activity
            android:name=".BrowseActivity"
            android:exported="false" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
